<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min_EDT.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/master.css">
    <link rel="stylesheet" type="text/css" href="css/plugins/iCheck/custom.css">
    <link rel="stylesheet" type="text/css" href="js/plugins/layer/skin/layer.css">
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/iCheck/icheck.min.js"></script>
    <script src="js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="js/plugins/layer/layer.min.js"></script>
    <script src="layui/layui.js" charset="utf-8"></script>
    <title>账号设置</title>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>个人信息</h5>
                    <div style="float:right; ">
                        <input id="id" name="id" type="hidden"/>
                        <h5 id="name" style="margin-left: 200px"></h5>
                        <h5 id="sex" style="margin-left: 30px">性别：</h5>
                    </div>
                </div>
                <div class="ibox-content" id="tab-box">
                    <div class="row m-b-lg">

                        <div class="layui-form-item">
                            <label class="layui-form-label">名称</label>
                            <div class="layui-input-block">

                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">账号</label>
                            <div class="layui-input-block">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">联系方式</label>
                            <div class="layui-input-block">

                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">性别</label>
                            <div class="layui-input-block">

                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">出生日期</label>
                            <div class="layui-input-block">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">地址</label>
                            <div class="layui-input-block">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">状态</label>
                            <div class="layui-input-block">
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <button type="button" class="btn btn-primary update-btn"> 修改</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>

    $(document).ready(function () {

        $.get('/login/session', function (data) {
            if (data.data == null) {
                alert("权限不够")
                window.location.href = '/login';
            } else {
                $('#id').val(data.data.employeeid)
                $('#name').append("欢迎" + data.data.name)
                $('#sex').append(data.data.sex == 1 ? "男" : "女")
                if (true) {
                    $.ajax({
                        type: "get",
                        url: "/employee/get?id=" + data.data.employeeid,
                        success: function (data) {
                            console.log(data)
                            var a = $('.layui-input-block')
                            a[0].append(data.name)
                            a[1].append(data.account)
                            a[2].append(data.tel)
                            a[3].append(data.sex == 1 ? "男" : "女")
                            a[4].append(data.date)
                            a[5].append(data.address)
                            a[6].append(data.status == 0 ? "正常" : "冻结")
                        }
                    });
                }
            }
        });


    });
</script>
<style>
    .layui-input-block {
        line-height: 36px;
    }

</style>
</body>
</html>